:root {
  --color-primary: #062172;
  --color-secondary: #43d596;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  font-weight: 500;
}

.row {
  width: 90%;
  margin: 0 auto;
}
